#filterContainer {
    border: 1px solid #DDD;
    height: 43px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #999 inset;
    font-size: 20px;
    color: white;
    padding-top: 10px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    right: 400px;
    left: 0px;
    background-color: #EEE;
}
#filterContainer h1 {
    display: inline;
    font-size: 20px;
    line-height: 100%;
    padding: 0 10px;
    color: #444444;
    font-family: "AvantGardeGothicITCW01X";
    font-weight: normal;
}
#filterContainer #filterOptions { display: inline }
#filterContainer #filterOptions .filterOption {
    font-family: "AvantGardeGothicITCW01X";
    font-weight: normal;
    color: #999999;
    cursor: pointer;
}
#filterContainer #filterOptions .filterOption:hover {
    background-color: #1ba3dd;
    color: white;
}
#filterContainer #filterOptions .optionSelected {
    background-color: #1ba3dd;
    color: white;
}