body {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: #f7fafc;
}

.container {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.875rem;
    padding-bottom: 0.625rem;
    width: 100%;
    background-color: #2d3748;
    color: #fff;
}
