body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }

  .container{
    text-align: center;
  }

 

  footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    padding-bottom: 10px;
    width: 100%;
  }