
.action{
 cursor: pointer;

}


body #topbar {

  width: 100px;
  height: 75px;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 10000;
  border: 0px solid #000;
  background: 333;
}

body #topbar .controls {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;

  text-align: center;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

body #topbar .controls .action{
  font-weight: bolder;
  color: #000;
  margin:auto;
}

body #topbar .controls .action:hover{
  font-weight: bolder;
  color: #444;
}

body #topbar .controls .active{

  color: red;

}
body #topbar .controls .active:hover{

  color: #444;
}

body #topbar #local-media {
  z-index: 10;
  width: 100px;
  height: 75px;
  top: 0px;
  left: 0px;
}


body #topbar #local-media video {
  max-width: 100%;
  max-height: 100%;
  border: none;
  
  
}

div#remote-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 43%;
  width: 100%;
  background-color: #fff;
  text-align: center;
  margin: auto;
  align-items: baseline;
  align-content: center;
}

div#remote-media .participant{
  
  flex: flex-grow;
  margin: auto;  /* Magic! */
  position: relative;
}

.non-dominant {
  border: 1px solid #666;
  color: rgb(255, 255, 255);
}

.dominant {
  border: 1px solid red;
  color: red;
}


div#remote-media .participant .info{
  bottom: 0px;
  position: absolute;
  text-align: center;
  font-weight: bolder;
  width: 100%;
  color: rgb(255, 255, 255); 
  mix-blend-mode: difference;

}

div#remote-media .participant .status{
  top: 0px;
  position: absolute;
  text-align: center;
  font-weight: bolder;
  width: 100%;
  color: red; 
  mix-blend-mode: difference;


}

div#remote-media .participant .status .audio{

  margin-left: 10px;
  margin-right: 10px;
}

div#remote-media .participant .status .video{
  margin-left: 10px;
  margin-right: 10px;
}




div#remote-media .participant .info .name{
  margin: auto;
}


div#remote-media .participant .media img{
  width: 100%;
  height: 100%;
}

div#remote-media .participant .media video{
  background-color: lightgrey !important;
  width: 100%;
  height: 100%

}